JAXWSTutorial-Client/src/main/resources/person.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.wuwix.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.wuwix.com/" name="PersonServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.wuwix.com/" schemaLocation="http://localhost:8888/ws/pers?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="addPerson">
        <part name="arg0" type="tns:person"/>
    </message>
    <message name="addPersonResponse">
        <part name="return" type="xsd:boolean"/>
    </message>
    <message name="deletePerson">
        <part name="arg0" type="xsd:int"/>
    </message>
    <message name="deletePersonResponse">
        <part name="return" type="xsd:boolean"/>
    </message>
    <message name="getAllPersons"/>
    <message name="getAllPersonsResponse">
        <part name="return" type="tns:personArray"/>
    </message>
    <message name="getPerson">
        <part name="arg0" type="xsd:int"/>
    </message>
    <message name="getPersonResponse">
        <part name="return" type="tns:person"/>
    </message>
    <portType name="PersonService">
        <operation name="addPerson">
            <input wsam:Action="http://service.wuwix.com/PersonService/addPersonRequest" message="tns:addPerson"/>
            <output wsam:Action="http://service.wuwix.com/PersonService/addPersonResponse" message="tns:addPersonResponse"/>
        </operation>
        <operation name="deletePerson">
            <input wsam:Action="http://service.wuwix.com/PersonService/deletePersonRequest" message="tns:deletePerson"/>
            <output wsam:Action="http://service.wuwix.com/PersonService/deletePersonResponse" message="tns:deletePersonResponse"/>
        </operation>
        <operation name="getAllPersons">
            <input wsam:Action="http://service.wuwix.com/PersonService/getAllPersonsRequest" message="tns:getAllPersons"/>
            <output wsam:Action="http://service.wuwix.com/PersonService/getAllPersonsResponse" message="tns:getAllPersonsResponse"/>
        </operation>
        <operation name="getPerson">
            <input wsam:Action="http://service.wuwix.com/PersonService/getPersonRequest" message="tns:getPerson"/>
            <output wsam:Action="http://service.wuwix.com/PersonService/getPersonResponse" message="tns:getPersonResponse"/>
        </operation>
    </portType>
    <binding name="PersonServiceImplPortBinding" type="tns:PersonService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="addPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </output>
        </operation>
        <operation name="deletePerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </output>
        </operation>
        <operation name="getAllPersons">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </output>
        </operation>
        <operation name="getPerson">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://service.wuwix.com/"/>
            </output>
        </operation>
    </binding>
    <service name="PersonServiceImplService">
        <port name="PersonServiceImplPort" binding="tns:PersonServiceImplPortBinding">
            <soap:address location="http://localhost:8888/ws/pers"/>
        </port>
    </service>